

body {
  margin: 0px;
  padding: 0px;
  background-color: yellow;
  font-family: Arial;
  font-size: 18px;
  text-align:center;


#page

{max-width:800px;}
{margin: 20px auto;}
{padding: 30px;}
{background-color: #bfa475;}



#header /* Styles for Heading */

{padding: 5px;}
{background-color: #655035;}
{text-align: center;}

@ charset "uft-8";







